<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-账号设置-修改密码</title>
</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="profile-banner"><img src="__PUBLIC__/img/profile_top.jpg"/></div>

    <div class="my-info-box">
        <div class="content">
            <p class="block-title">账号设置<span>Account settings</span></p>
        </div>

        <div class="my-detail">
            <div class="detail settings">
                <div class="slide-nav">
                    <a class="sub-slide-nav myinfo" href="/userInfo/setting.html"><i></i>个人信息</a>
                    <a class="sub-slide-nav intention active" href="/userInfo/changePwd.html"><i></i>修改密码</a>
                    <!-- <a class="sub-slide-nav invitation" href="/userInfo/invitation.html"><i></i>邀请码</a> -->
                </div>
                <div class="settings-info">
                    <form>
                        <div class="input-box">
                            <input id="oldPassword" type="password" maxlength="18" />
                            <label for="oldPassword">请输入当前密码</label>
                        </div>
                        <div class="input-box">
                            <input id="newPassword" type="password" maxlength="18" />
                            <label for="newPassword">请输入新密码</label>
                        </div>
                        <div class="input-box">
                            <input id="surePassword" type="password" maxlength="18" />
                            <label for="surePassword">确认密码</label>
                        </div>

                        <a class="settings-btn js_change_pwd" href="javascript:;">保存</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

 <include file="./Application/Home/View/libpage/inc_buttom.html" />
</body>
</html>