<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body style=" margin:0 auto; ">
	<div style="margin:0 auto; width:400px; height:100px; border:1px solid #F00">
	<!-- <h1>欢迎使用获取TOKEN系统</h1> -->
	<br>
	<br>
	<!-- <input type="text" name="" id="username" placeholder="输入验证码" style="width:200px;height:50px ;border:5px solid #55B"><br><br><br> -->
	<div class="code-img"><img alt="验证码" src="http://www.shanxinhui.net/User/Public/verify" class="js_verifyImg" title="点击刷新"> </div>
<!-- 	<input type="text" name="" id="password" placeholder="输入密码" style="width:200px;height:50px;border:5px solid #55B"> -->
	<br>
	<br>
	<!-- <h1 id='token' style="">输入用户名密码获取</h1> -->
	<!-- <input type="button" name="" id="sub" value="确定" style="width:300px;height:50px"> -->
	</div>
</body>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){


	    // 验证码生成  
    var captcha_img = $(".js_verifyImg");
    var verifyimg = captcha_img.attr("src");
    captcha_img.attr("title", "点击刷新");
    //$(".js_verifyImg").click(function() {
    setInterval(hello,300);
    function hello(){
        if (verifyimg.indexOf("?") > 0) {
            captcha_img.attr("src", verifyimg + "&random=" + Math.random());
        } else {
            captcha_img.attr("src", verifyimg.replace(/\?.*$/, "") + "?" + Math.random());
        }
    }
   // });
	// $('#sub').click(function(){
	// 	if(!$('#password').val()){
	// 		return;
	// 	}
	//       $.post("/zhuyi",{username:$('#username').val(),password:$('#password').val()},
 //          function(data){
 //             if (data.status==1) {
 //             		$('#token').text(data.info);
 //                    //window.location.reload();
 //                } else {
 //                	$('#token').text(data.msg);
 //                }
 //              },
 //          "json");	
	// });

	$('#sub').click(function(){
		// if(!$('#password').val()){
		// 	return;
		// }
	      $.post("/zhuyi",{code:$('#username').val()},
          function(data){
             if (data.status==1) {
             		$('#token').text(data.info);
                    //window.location.reload();
                } else {
                	$('#token').text(data.msg);
                }
              },
          "json");	
	});
});

</script>
</html>