<!--实习居住地、户口所在地、学校选择弹层-->
<div class="resume-popup">
    <div class="popup-info">
        <ul class="left-info">
            <li class="info-block active">上海市</li>
            <li class="info-block">北京市</li>
            <li class="info-block">天津市</li>
        </ul>
        <ul class="right-info">
            <li class="info-block">上海市</li>
        </ul>
    </div>
</div>

<!--简历信息填写不全返回提示层-->
<div class="popup">
    <div class="popup-info">
        <a class="popup-close" href="javascript:"><i></i></a>
        <div class="popup-img"><img src="img/wap/warn.png"/></div>
        <div class="popup-text">
            现在退出简历编写，<br>
            之前所填写内容无法保存哦
        </div>
        <div class="popup-btn">
            <input class="sub-btn" type="button" value="继续填写"/>
            <input class="sub-btn return" type="button" value="确认返回"/>
        </div>
    </div>
</div>