<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>编辑教育经历</title>
    <include file="./Application/Home/View/libpage/inc_wap_header.html" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/h5/resume.css">
    <link rel="stylesheet" href="__PUBLIC__/js/validationEngine/validationEngine.jquery.css">
    <script src="__PUBLIC__/js/validationEngine/jquery.validationEngine.js"></script>
    <script src="__PUBLIC__/js/validationEngine/jquery.validationEngine-zh_CN.js"></script>
    <script src="__PUBLIC__/js/validate/lib/jquery.form.js"></script>
</head>
<body>
    <header class="header">
        <a class="back js_back_btn" href="JavaScript:;"><i></i></a>
        <span class="title" data="编辑教育经历">编辑教育经历</span>
    </header>
    <div class="footer">
        <div class="logo"><img src="__PUBLIC__/img/wap/logo.png"/></div>
        <div class="slogan"><img src="__PUBLIC__/img/wap/slogan.png"/></div>
        <div class="app-download">
            <div class="cartoon"><img src="__PUBLIC__/img/wap/cartoon.png"/></div>
            <a class="download" href=""><img src="__PUBLIC__/img/wap/download_btn.png"/></a>
        </div>
    </div>
    <div class="content">
    <form action="/m/resumeEdu.html" method="post" enctype="multipart/form-data" id="resumeEduForm">
        <div class="resume-edit">
            <div class="edit-item right">
                <span class="field-name">学校</span>
                <span class="field-input js_school_val" onclick="setSchool($(this))">{$res.school_name}</span>
                <input type="hidden" name="post[school_province_code]" value="{$res.province_code}">
                <input type="text" class="validate[required]" name="post[school_id]" value="{$res.school_id}" style="height:0.5px;width:0px;padding:0px;margin:0px;">
            </div>
            <div class="edit-item">
                <span class="field-name">院系</span>
                <input class="field-input" type="text" name="post[faculty]" value="{$res.faculty}"/>
            </div>
            <div class="edit-item">
                <span class="field-name">专业分类</span>
                <select class="field-input validate[required]" name="post[major_cid]">
                    <option value="">请选择</option>
                    <foreach name="major_list" item="v">
                        <option value="{$v.id}" <if condition="$res['major_category_id'] eq $v[id]">selected</if>>{$v.name}</option>
                    </foreach>
                </select>
            </div>
            <div class="edit-item">
                <span class="field-name">专业</span>
                <input class="field-input validate[required]" type="text" name="post[major]" value="{$res.major}" maxlength="10" />
            </div>
            <div class="edit-item down">
                <span class="field-name">入校时间</span>
                <input class="field-input validate[required]" type="month" name="post[sdate]" value="{$res.sdate|substr=0,4}-{$res.sdate|substr=4,2}"/>
            </div>
            <div class="edit-item down">
                <span class="field-name">毕业时间</span>
                <input class="field-input validate[required]" type="month" name="post[edate]" value="{$res.edate|substr=0,4}-{$res.edate|substr=4,2}"/>
            </div>
            <div class="edit-item">
                <span class="field-name">学历</span>
                <select class="field-input validate[required]" name="post[degree]">
                    <option value="1" <if condition="$res['degree'] eq 1">selected</if>>大专</option>
                    <option value="2" <if condition="$res['degree'] eq 2">selected</if>>本科</option>
                    <option value="3" <if condition="$res['degree'] eq 3">selected</if>>硕士</option>
                    <option value="4" <if condition="$res['degree'] eq 4">selected</if>>博士</option>
                </select>
            </div>
            <if condition="$res['id']">
            <input type="hidden" name="post[type]" value="update">
            <input type="hidden" name="post[edu_id]" value="{$res['id']}">
            <else />
            <input type="hidden" name="post[type]" value="create">
            <input type="hidden" name="post[resume_id]" value="{$res['resume_id']}">
            </if>
            <input class="edit-save edit-over" type="button" onclick="$('#resumeEduForm').submit();" value="完成">
        </div>
    </form>
    </div>
<!--实习居住地、户口所在地、学校选择弹层-->
<div class="resume-popup select_school">
    <div class="popup-info">
        <ul class="left-info scprov_zone">
        <foreach name="prov" item="v">
             <li class="info-block" data="{$v.code}">{$v.name}</li>
            </foreach>
        </ul>
        <ul class="right-info school_zone">
        </ul>
    </div>
</div>


<!--简历信息填写不全返回提示层-->
<div class="popup exit_tixing" style="display:none;">
    <div class="popup-info">
        <a class="popup-close" href="javascript:" onclick="$('.exit_tixing').hide()"><i></i></a>
        <div class="popup-img"><img src="__PUBLIC__/img/wap/warn.png"/></div>
        <div class="popup-text">
            现在退出简历编写，<br>
            之前所填写内容无法保存哦
        </div>
        <div class="popup-btn">
            <input class="sub-btn" type="button" onclick="$('.exit_tixing').hide()" value="继续填写"/>
            <input class="sub-btn return" type="button" onclick="window.location.href='/m/myResume.html'" value="确认返回"/>
        </div>
    </div>
</div>
<input type="hidden" id="return_url" value="{$Think.cookie.return}">
</body>
<script src="__PUBLIC__/js/wap/mresume.js"></script>
</html>