<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-重新验证</title>
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <div class="page info-page">
<include file="./Application/Home/View/libpage/inc_top.html" />

        <div class="logon-box">
            <div class="verify-info">
                <div class="verify-img"><img src="__PUBLIC__/img/reverify.png"/></div>
                <p class="verify-description">很抱歉，验证链接已失效。</p>
            </div>
            <div class="verify-btn">
                <a class="re-verify" href="/mailReset.html">重新找回密码</a>
                <a class="go-index" href="/index.html">返回首页</a>
            </div>
        </div>

 <include file="./Application/Home/View/libpage/inc_buttom.html" />
    </div>
</body>
</html>