<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-企业登录</title>
    <meta name="description" content="菜鸟帮帮是国内领先的金融实习生招聘平台,500强实习,优质实习机会,优秀实习生,找实习就上菜鸟帮帮,实习生招聘首选菜鸟帮帮,大学生金融实习第一品牌。">
    <meta name="keywords" content="实习,实习生,找实习,实习生招聘,寒假实习,菜鸟帮帮,大学生实习,实习网,实习吧">
<include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
<include file="./Application/Home/View/libpage/inc_company_top.html" />

    <div class="org-logon">
       <div class="logon-info">
           <div class="slogan">
               <img src="__PUBLIC__/img/orgImg/company_sign_text.png"/>
               <a class="register-link" href=""><img src="__PUBLIC__/img/orgImg/register.png"/></a>
           </div>
           <div class="logon-box">
               <div class="tab-menu">
                   <span class="sub-menu phone_reg active">手机号注册</span>
                   <span class="sub-menu email_reg">邮箱注册</span>
               </div>
               <div class="tab-cont">
                   <div class="tab-item">
                       <div class="input-item phone">
                           <i></i>
                           <div class="input-box">
                               <input id="register_phone" type="text" placeholder="请输入手机号" />
                           </div>
                       </div>
                       <div class="input-item password">
                           <i></i>
                           <div class="input-box">
                               <input id="register_password" type="password" placeholder="请输入密码" maxlength="18"/>
                           </div>
                       </div>
                       <div class="input-item sms-code">
                           <i></i>
                           <div class="input-box code-box">
                               <input id="verify_code" type="text" maxlength="4" placeholder="请输入验证码" />
                               <div class="code-img"><img alt="验证码" src="/verifyImg.html" class="js_verifyImg" title="点击刷新"></div>
                           </div>
                       </div>
                       <div class="input-item sms-code">
                           <i></i>
                           <div class="input-box code-box">
                               <input id="smsCode" type="text" placeholder="请输入短信验证码" />
                               <input class="send-sms js_comsend_phone_code" type="button" data-id="1" data-type="register" value="获取验证码">
                           </div>
                       </div>

                       <div class="btn"><input class="sub-btn login-btn js_org_register" type="button" value="注册菜鸟帮帮"></div>
                       <!--<div class="btn"><input class="sub-btn login-btn" type="button" value="登录中…" disabled></div>-->

                       <div class="other-way"><a href="/hrLogin.html">已有账号？<span>立即登录</span></a></div>
                   </div>

                   <div class="tab-item">
                       <div class="input-item email">
                           <i></i>
                           <div class="input-box">
                               <input id="register_email" type="text" placeholder="请输入邮箱" />
                           </div>
                       </div>
                       <p class="input-tips">用企业邮箱注册无需审核可直接发布岗位</p>
                       <div class="input-item password">
                           <i></i>
                           <div class="input-box">
                               <input id="register_pwd" type="password" placeholder="请输入密码" maxlength="18" />
                           </div>
                       </div>
                       <div class="input-item sms-code">
                           <i></i>
                           <div class="input-box code-box">
                               <input id="verify_email_code" type="text" placeholder="请输入验证码" maxlength="4"/>
                               <div class="code-img"><img alt="验证码" src="/verifyImg.html" class="js_verifyImg" title="点击刷新"></div>
                           </div>
                       </div>
                       <div class="btn"><input class="sub-btn login-btn js_org_email_register" type="button" value="注册菜鸟帮帮"></div>
                       <!--<div class="btn"><input class="sub-btn login-btn" type="button" value="登录中…" disabled></div>-->

                       <div class="other-way"><a href="/hrLogin.html">已有账号？<span>立即登录</span></a></div>
                   </div>
               </div>
           </div>
       </div>
    </div>

    <div class="pro-info">
        <div class="pro-ad">
            <div class="pro-item">
                <p class="ad-key">海量、精准</p>
                <div class="ad-img"><img src="__PUBLIC__/img/orgImg/ad1.png"/></div>
                <div class="ad-detail">
                    千所高校，数十万名学生<br>
                    指定高校简历推荐服务<br>
                    助您锁定心仪优秀人才
                </div>
            </div>
            <div class="pro-item">
                <p class="ad-key">高效、智能</p>
                <div class="ad-img"><img src="__PUBLIC__/img/orgImg/ad2.png"/></div>
                <div class="ad-detail">
                    面试通知进度管理功能<br>
                    学生面试承诺到场服务<br>
                    让您轻松搞定实习招聘
                </div>
            </div>
            <div class="pro-item">
                <p class="ad-key">专属、陪伴</p>
                <div class="ad-img"><img src="__PUBLIC__/img/orgImg/ad3.png"/></div>
                <div class="ad-detail">
                    一对一专属招聘顾问服务<br>
                    7×24小时全天候客服待命<br>
                    给您随时随心的管家服务
                </div>
            </div>
            <!--<a class="more-view" href="">点击了解企业版产品详情<i></i></a>-->
        </div>
    </div>

    <div class="pro-info pro-school">
        <div class="pro-ad">
            <div class="school-img"><img src="__PUBLIC__/img/orgImg/school_img.jpg"/></div>
            <p class="ad-text">这些高校学生都来菜鸟帮帮找实习机会，你还不赶快下手？</p>
            <a class="more-view" href="">现在注册即送专业版用户权限<i></i></a>
        </div>
    </div>

    <div class="pro-info pro-cooperation">
        <div class="pro-ad">
            <div class="cooperation-title"><img src="__PUBLIC__/img/orgImg/gxhz_title.png"/></div>
            <div class="pro-item">
                <div class="item-img"><img src="__PUBLIC__/img/orgImg/gxhz1.png"/></div>
                <div class="item-info">
                    超<span>10</span>万名学生简历注册
                </div>
            </div>
            <div class="pro-item">
                <div class="item-img"><img src="__PUBLIC__/img/orgImg/gxhz2.png"/></div>
                <div class="item-info">
                    <span>3000</span>多个实习岗位人才对接成功
                </div>
            </div>
            <div class="pro-item">
                <div class="item-img"><img src="__PUBLIC__/img/orgImg/gxhz3.png"/></div>
                <div class="item-info">
                    <span>500</span>多所高校实习基地签约
                </div>
            </div>
            <div class="pro-item">
                <div class="item-img"><img src="__PUBLIC__/img/orgImg/gxhz4.png"/></div>
                <div class="item-info">
                    连续3年发布《金融基础人才供需调研报告》，被上海政府官网全文转载，呈交上海市委书记韩正。
                </div>
            </div>
            <div class="pro-item">
                <div class="item-img"><img src="__PUBLIC__/img/orgImg/gxhz5.png"/></div>
                <div class="item-info">
                    <span>200</span>多场高校职业发展巡回讲座
                </div>
            </div>

            <a class="more-view" href="">现在注册即送专业版用户权限<i></i></a>
        </div>
    </div>

<input type="hidden" id="sendcodetime" value="180"/>
<include file="./Application/Home/View/libpage/inc_buttom.html" />
<script src="__PUBLIC__/js/member.js"></script>
<script>
//$(function(){
      //     $("body").keydown(function(e){ 
      //     var curKey = e.which; 
      //     var str = $('#search').val();
      //     if(curKey == 13 && str){ 
      //     $(".keyword").click(); 
      //     return false; 
      //     }
      // }); 


            $("body").keydown(function(e){ 
               var str = $('[type="password"]').val();
               str = str.substr(str.length-1,1);
               if(str >= 'A' && str <= 'Z'){
                  layer.tips('大小写锁定已打开', '#register_password',{time:0});
               }else{
                  layer.closeAll('tips');
               }
              
          }); 

//             var str = $(this).val();
//             alert(str.substr(str.length-1,1));
//           var keyCode = e.which; 
//           console.log(keyCode);
//          // var str = $('#search').val();
//             if (  keyCode ==20 ) // CapsLock打开，且没有按住shift键。 )// CapsLock打开，且按住shift键。  
//               {

//                 $("p").hover(function(){
//                      layer.tips('Hi，我是tips', '#register_password');
//                 },function(){
//                     $("p").css("background-color","pink");
//                 });
// }
//         }); 

  
// });
</script>
</body>
</html>