<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-忘记密码</title>
</head>
<body>
    <div class="page info-page">
        <div class="top">
            <div class="top-nav">
                <img src="img/cjn_logo.png"/>
                <div class="menu">
                    <a class="sub-menu" href="index.html">首页</a>
                    <a class="sub-menu" href="">大赛</a>
                    <a class="sub-menu" href="">金融梦</a>
                </div>
            </div>
            <div class="other-nav">
                <div class="logon">
                    <a class="logon-item" href="login.html">登录</a>
                    <span>|</span>
                    <a class="logon-item" href="signUp.html">注册</a>
                </div>
                <a class="app-download" href=""><i></i>App下载</a>
                <a class="pr-login" href=""><i></i>企业登录</a>
            </div>
        </div>


 <include file="./Application/Home/View/libpage/inc_buttom.html" />
    </div>
</body>
</html>