<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
  <meta name="description" content="菜鸟帮帮是国内领先的金融实习生招聘平台,500强实习,优质实习机会,优秀实习生,找实习就上菜鸟帮帮,实习生招聘首选菜鸟帮帮,大学生金融实习第一品牌。">
  <meta name="keywords" content="实习,实习生,找实习,实习生招聘,寒假实习,菜鸟帮帮,大学生实习,实习网,实习吧">
    <title>登录-菜鸟帮帮-想去金融机构实习？上菜鸟帮帮！</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">

</head>
<body>

   <div class="page login-page">
<include file="./Application/Home/View/libpage/inc_top.html" />
       <div class="logon-box">
           <div class="input-item user">
               <i></i>
               <div class="input-box">
                   <input id="username" name="username" type="text" placeholder="请输入已验证的手机" value="{$Think.cookie.stu}"/>
                   <!-- <label for="user">请输入已验证的手机/邮箱</label> -->
               </div>
           </div>
           <div class="input-item password">
               <i></i>
               <div class="input-box">
                   <input id="password" name="password" type="password" placeholder="请输入密码" value="{$Think.cookie.stu2}"/>
               </div>
           </div>
<!--            <div class="input-item password">
               <i></i>
               <div class="input-box">
                   <img src="/verifyImg" alt="点击换个验证码" onclick='this.src="/verifyImg/"+Math.random()'>
               </div>
           </div> -->
           <div class="password-action">
               <div class="keep-password">
                   <input id="keep" type="checkbox" <notempty name="Think.cookie.stu2">checked</notempty>/>
                   <label for="keep">记住密码</label>
               </div>
               <a class="forget" href="/phoneReset.html" target="_blank">忘记密码？</a>
           </div>

           <div class="btn">
           <input class="sub-btn login-btn" type="button" id="login" value="登录">
           </div>

           <div class="sign">还没有菜鸟帮帮账号？<a href="/register.html">立即注册</a></div>
       </div>
<input type="hidden" name="return" id="url_return" value={$Think.get.return_url|default=0}>
  <include file="./Application/Home/View/libpage/inc_buttom.html" />
   </div>
   <script type="text/javascript">

      $(document).ready(function(){ 
        $("body").keydown(function(e){ 
          var curKey = e.which; 
          if(curKey == 13){ 
          $("#login").click(); 
          return false; 
          }
      }); 
    }); 
   </script>
</body>
</html>
