<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-忘记密码-邮箱验证</title>
</head>
<body>
    <div class="page info-page">
        <div class="top">
            <div class="top-nav">
                <img src="img/cjn_logo.png"/>
                <div class="menu">
                    <a class="sub-menu" href="index.html">首页</a>
                    <a class="sub-menu" href="">大赛</a>
                    <a class="sub-menu" href="">金融梦</a>
                </div>
            </div>
            <div class="other-nav">
                <div class="logon">
                    <a class="logon-item" href="login.html">登录</a>
                    <span>|</span>
                    <a class="logon-item" href="signUp.html">注册</a>
                </div>
                <a class="app-download" href=""><i></i>App下载</a>
                <a class="pr-login" href=""><i></i>企业登录</a>
            </div>
        </div>

        <div class="logon-box">
            <div class="progress">
                <div class="progress-item current-progress">
                    <span class="progress-number">01</span>
                    <span>输入邮箱地址</span>
                </div>
                <span class="progress-space past-space"></span>
                <div class="progress-item current-progress">
                    <span class="progress-number">02</span>
                    <span>验证邮箱</span>
                </div>
                <span class="progress-space current-space"></span>
                <div class="progress-item">
                    <span class="progress-number">03</span>
                    <span>重置密码</span>
                </div>
            </div>

            <div class="mail-verify-tips">
                <div>密码重置邮件已发往你的邮箱<span>google@gmail.com</span></div>
                <span class="verify-tips">请在24小时内登录你的邮箱点击链接修改密码</span>
            </div>

            <span class="info-space"></span>

            <div class="sign"><a class="via-email" href="phoneVerify.html">通过手机号找回</a></div>
        </div>

 <include file="./Application/Home/View/libpage/inc_buttom.html" />
    </div>
</body>
</html>