<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="金融机构实习，找菜鸟帮帮">
    <meta name="keys" content="实习,金融,学生">
    <title>菜鸟帮帮-企业基本信息</title>
<include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
    <div class="page info-page company-page">
<include file="./Application/Home/View/libpage/inc_company_top.html" />

        <div class="logon-box">
            <div class="verify-info">
                <div class="verify-img"><img src="__PUBLIC__/img/reverify.png"/></div>
                <p class="verify-description">很抱歉，验证链接已失效。</p>
            </div>
            <div class="verify-btn">
                <a class="re-verify" href="/reAuth.html">重新验证邮箱</a>
                <a class="go-index" href="/index.html">返回首页</a>
            </div>
        </div>

<include file="./Application/Home/View/libpage/inc_buttom.html" />
<script src="__PUBLIC__/js/member.js"></script>
    </div>
</body>
</html>