<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-重新验证</title>
</head>
<body>
    <div class="page info-page company-page">
<include file="./Application/Home/View/libpage/inc_top.html" />

        <div class="logon-box">
            <div class="verify-info">
                <div class="verify-img"><img src="__PUBLIC__/img/email_img.png"/></div>
                <p class="verify-description">重新发送激活邮件</p>
            </div>

            <div class="input-item email">
                <i></i>
                <div class="input-box">
                    <input type="email"/>
                    <label>请输入您的注册邮箱</label>
                </div>
            </div>

            <div class="btn"><a class="login-btn js_reemail" href="javascript:;">确定</a></div>
        </div>
  <include file="./Application/Home/View/libpage/inc_buttom.html" />
  <script src="__PUBLIC__/js/member.js"></script>
    </div>
</body>
</html>