<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-企业注册资料-联系方式</title>
</head>
<body>
    <div class="page info-page">
    <include file="./Application/Home/View/libpage/inc_top.html" />

        <div class="logon-box">
            <div class="email-info">
                <p class="email-title">验证邮箱</p>
                <div class="email-img sign-email-img"><img src="__PUBLIC__/img/email_img.png"></div>
                <p class="success-mailbox">验证邮件已发送至：<span class="js_authemail">{$email}</span></p>
                <span class="success-info">请登录邮箱点击注册链接，验证后即可使用菜鸟帮帮全部功能。</span>
            </div>
            <span class="info-space"></span>
            <div class="email-info email-tips">
                <div class="email-img"><img src="__PUBLIC__/img/email_tips.png"></div>
                <div class="info">
                    <span class="others-info">没有收到验证邮件怎么办？</span>
                    <ul class="tips-info">
                        <li>邮箱地址填写错误？<a href="/reAuth.html">重新填写邮箱地址</a></li>
                        <li>邮件有时会调皮进入垃圾信箱、广告信箱，请留意</li>
                        <li>稍等几分钟，若还未收到验证邮件，<a href="javascript:;" id="js-resend">重新发送验证邮件</a></li>
                    </ul>
                </div>
            </div>
        </div>

     <include file="./Application/Home/View/libpage/inc_buttom.html" />
    </div>
    <script type="text/javascript">
    $(function(){
        $('#js-resend').click(function(){
            var email = $('.js_authemail').text();
            if(email.length ==0){
                return false;
            }
            $.post("/reSendEmail",{email:email},
              function(data){
                 if (data.status==1) {
                        alert(data.msg);
                    } else {
                        alert(data.msg);
                    }
                  },
              "json"); 
        });
    });
    </script>
</body>
</html>