<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-系统通知</title>
</head>
<body>

<include file="./Application/Home/View/libpage/inc_top.html" />
    <div class="profile-banner"><img src="__PUBLIC__/img/profile_top.jpg"/></div>

    <div class="my-info-box">
        <div class="content">
            <p class="block-title">系统通知<span>System notification</span></p>
        </div>

        <div class="my-detail">
            <div class="detail">
                <div class="notice-list">
                    <div class="list-info">
                        <p class="list-title">第四届“财金通杯”职场新秀选拔大赛</p>
                        <div class="min-cont">第四届大赛计划于2016年3月正式启动，于9月举办决赛暨颁奖典礼……</div>
                        <div class="list-active">
                            <a class="view-details" href=""><span>+</span>查看详情</a>
                            <span class="list-time"><i></i>2016-07-01</span>
                        </div>
                    </div>
                    <div class="list-img"><img src="__PUBLIC__/img/system_notice_img.jpg"/></div>
                </div>
                <div class="notice-list">
                    <div class="list-info">
                        <p class="list-title">第四届“财金通杯”职场新秀选拔大赛</p>
                        <div class="min-cont">第四届大赛计划于2016年3月正式启动，于9月举办决赛暨颁奖典礼……</div>
                        <div class="list-active">
                            <a class="view-details" href=""><span>+</span>查看详情</a>
                            <span class="list-time"><i></i>2016-07-01</span>
                        </div>
                    </div>
                    <div class="list-img"><img src="__PUBLIC__/img/system_notice_img.jpg"/></div>
                </div>
            </div>
        </div>
    </div>

 <include file="./Application/Home/View/libpage/inc_buttom.html" />
</body>
</html>