<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Home/View/libpage/inc_header.html" />
    <meta charset="UTF-8">
    <title>菜鸟帮帮-公司简介</title>

</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="profile-banner">
        <img src="__PUBLIC__/img/profile_top.jpg"/>
        <div class="profile-name">
            <div class="company-logo"><img src="{$res.b_logo_url}"/></div>
            <div class="name-url">
                <p class="company-name">{$res.fullname}</p>
                <a class="company-url">{$res.website}</a>
            </div>
        </div>
    </div>

    <div class="post-info-box">
        <div class="content">
            <div class="block-share">
                <div class="block-active">
                    <a class="sub-active active" href="/post/company/{$res.id|smartBase64=###}.html">公司简介<span></span></a>
                    <a class="sub-active" href="/post/company/job/{$res.id|smartBase64=###}.html">热招实习岗位<span></span></a>
                </div>
                <div class="post-share jiathis_style_32x32">
                    <span>分享</span>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_cqq"></a>
                        <a class="jiathis_button_weixin"></a>
<!--                     <a class="share-item weixin" href=""><i></i></a>
                    <a class="share-item qq" href=""><i></i></a>
                    <a class="share-item xinlang" href=""><i></i></a>
                    <a class="share-item tieba" href=""><i></i></a> -->
                </div>
            </div>
        </div>

        <div class="my-detail">
            <div class="detail">
                <div class="sub-detail post-detail">
                    <p class="company-profile">公司介绍<span>Company Profile</span></p>
                    <div class="company-info">
                        <div class="info-box">
                            <div class="section">{$res.remark}</div>
                            <if condition="mb_strlen($res['remark']) gt 366">
                            <a class="section-more" href="javascript:;">展开<i></i></a>
                            </if>
                        </div>
                    </div>
                    <notempty name="com_photo">
                   <div class="company-img">
                        <ul class="img-box">
                        <foreach name="com_photo" item="v">
                            <li>
                            <foreach name="v" item="vo">
                                <span class="sub-img"><img src="{$vo}"/></span>
                            </foreach>
                            </li>
                        </foreach>
                        </ul>
<!--                         <div class="img-lab">
                        <foreach name="com_photo" item="v">
                            <span class="sub-lab active"><i></i></span>
                        </foreach>
                        </div> -->
                    </div>
                    </notempty>
                    <p style="height:20px;"></p>
                    <p class="company-profile">公司位置<span>Company Location </span></p>
                    <div class="company-addr">
                        <div class="company-map" id="allmap"></div>
                        <div class="addr-box">
                            <div class="sub-addr">
                                <p class="addr-area">
                                    <span><i></i>{$res.province_name}</span>
                                    <span>{$res.city_name}</span>
                                </p>
                                <div class="addr-detail">
                                    <span>{$res.province_name}{$res.city_name}</span>
                                    <span>{$res.addr}</span>
                                </div>
                            </div>
<!--                             <div class="sub-addr">
                                <p class="addr-area">
                                    <span><i></i>北京市</span>
                                    <span>西城区</span>
                                </p>
                                <div class="addr-detail">
                                    <span>北京市西城区西单北大街110号</span>
                                    <span>西单汇7层</span>
                                </div>
                            </div> -->
                            <div class="addr-count">该公司共有<span>1</span>个地址</div>
                        </div>
                    </div>
                </div>
                <div class="sub-detail org-info">
                    <p class="org-name">公司基本信息</p>
                    <ul class="org-basic">
                        <li class="sub-basic industry"><i></i>{$res.trade_name}</li>
                        <li class="sub-basic nature"><i></i>{$res.nature_name}</li>
                        <li class="sub-basic scale"><i></i>{$res.scale_name}</li>
                        <li class="sub-basic area"><i></i>{$res.city_name}</li>
                    </ul>

                    <div class="org-others">
                        <p class="others-title">福利标签</p>
                        <div class="company-welfare">
                        <foreach name="res.tags" item="v">
                            <span class="sub-welfare">{$v.tag_name}</span>
                        </foreach>
                        </div>
                    </div>
                    <!--<div class="org-others">-->
                        <!--<p class="others-title">同行业热门企业</p>-->
                        <!--<div class="similar-post">-->
                            <!--<div class="similar-logo"><img src="img/company_icon1.jpg"/></div>-->
                            <!--<div class="similar-info">-->
                                <!--<p class="company-name">上海银行股份有限公司</p>-->
                                <!--<div class="company-count">-->
                                    <!--<span class="sub-count"><span>12</span>岗位</span>-->
                                    <!--<span class="sub-count"><span>599</span>人申请</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="similar-post">-->
                            <!--<div class="similar-logo"><img src="img/company_icon1.jpg"/></div>-->
                            <!--<div class="similar-info">-->
                                <!--<p class="company-name">上海银行股份有限公司</p>-->
                                <!--<div class="company-count">-->
                                    <!--<span class="sub-count"><span>12</span>岗位</span>-->
                                    <!--<span class="sub-count"><span>599</span>人申请</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="similar-post">-->
                            <!--<div class="similar-logo"><img src="img/company_icon1.jpg"/></div>-->
                            <!--<div class="similar-info">-->
                                <!--<p class="company-name">上海银行股份有限公司</p>-->
                                <!--<div class="company-count">-->
                                    <!--<span class="sub-count"><span>12</span>岗位</span>-->
                                    <!--<span class="sub-count"><span>599</span>人申请</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="similar-post">-->
                            <!--<div class="similar-logo"><img src="img/company_icon1.jpg"/></div>-->
                            <!--<div class="similar-info">-->
                                <!--<p class="company-name">上海银行股份有限公司</p>-->
                                <!--<div class="company-count">-->
                                    <!--<span class="sub-count"><span>12</span>岗位</span>-->
                                    <!--<span class="sub-count"><span>599</span>人申请</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="similar-post">-->
                            <!--<div class="similar-logo"><img src="img/company_icon1.jpg"/></div>-->
                            <!--<div class="similar-info">-->
                                <!--<p class="company-name">上海银行股份有限公司</p>-->
                                <!--<div class="company-count">-->
                                    <!--<span class="sub-count"><span>12</span>岗位</span>-->
                                    <!--<span class="sub-count"><span>599</span>人申请</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
 <include file="./Application/Home/View/libpage/inc_buttom.html" />
 <script src="__PUBLIC__/js/unslider-min.js"></script>
 <!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
 <script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

  // 百度地图API功能
  var map = new BMap.Map("allmap");    // 创建Map实例
  var addr = '上海市浦东新区商城路888号';
  //map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
  // map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
  // map.setCurrentCity(addr);          // 设置地图显示的城市 此项是必须设置的
   map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
  var myGeo = new BMap.Geocoder();
  myGeo.getPoint('{$res.province_name}{$res.city_name}{$res.zone_name}{$res.addr}',function(point){
    if(point){
      map.centerAndZoom(point,17);
      map.addOverlay(new BMap.Marker(point));
    }else{
      alert("地址错误！");
    }
  });
    // $('.company-img').unslider({
    //     keys: false, 
    //     //nav: false 
    // });

    // $('.company-img').unslider({
    // speed: 500,               //  The speed to animate each slide (in milliseconds)
    // delay: 3000,              //  The delay between slide animations (in milliseconds)
    // complete: function() {},  //  A function that gets called after every slide animation
    // keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    // dots: true,               //  Display dot navigation
    // fluid: false
    // });

</script>
</body>
</html>