<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-企业注册成功</title>
<include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
    <div class="page info-page">
  <include file="./Application/Home/View/libpage/inc_top.html" />

        <div class="logon-box">
            <div class="verify-info">
                <div class="verify-img"><img src="__PUBLIC__/img/success.png"/></div>
                <p class="verify-description">注册成功</p>
                <p class="success-tips">贵司提交的资料审核时间为三个工作日，通过后会以短信和邮件方式通知你。</p>
            </div>
            <div class="btn"><a class="sub-btn" href="">我知道了</a></div>
        </div>

  <include file="./Application/Home/View/libpage/inc_buttom.html" />
    </div>
</body>
</html>