
<!--     <link rel="stylesheet" type="text/css" href="??public.css,main.css,login.css,pikaday.css"> -->
<!--     <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pikaday.css"> -->

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pikaday.css">

    <div class="top">
        <div class="top-nav">
            <a href="/index.html"><img src="__PUBLIC__/img/cjn_logo.png"/></a>
            <div class="menu">
                <a class="sub-menu index-menu <if condition="$nav eq 'index'">active</if>" href="/index.html"></a>
                <a class="sub-menu ds-menu <if condition="$nav eq 'post'">active</if>" href="/postList.html"></a>
            <if condition="$Think.session.member.type eq 1">
                <a class="sub-menu jm-menu <if condition="$nav eq 'resume'">active</if>" href="/resume/list.html"></a>
            <else />
                <a class="sub-menu jm-menu" href="/login.html?return_url=<?php echo (return_url('/resume/list.html')); ?>"></a>
            </if>
            </div>
        </div>
        <if condition="$Think.session.member.type eq 1">
        <div class="other-nav">
            <ul class="my-nav">
                <li><a class="my-message" href="/messages.html"><i></i>专属推荐<span class="new-tag js_recommend_num" <empty name="Think.session.message_num.recommend">style="display:none;"</empty>></span></a></li>

                <li><a class="my-reply" href="/resume/myFeedback.html"><i></i>投递反馈<span class="new-tag js_feedmsg_num" <empty name="Think.session.message_num.deliver">style="display:none;"</empty>></span></a></li>
                <li id="my" class="my">
                    <span><i></i><empty name="Think.session.member.nick_name">{$Think.session.member.user_name|substr_replace=###,'****',4,4}<else />{$Think.session.member.nick_name}</empty></span>
                    <div id="myNav" class="my-top-nav">
                        <a class="sub-nav" href="/resume/list.html">我的简历</a>
                        <a class="sub-nav" href="/resume/myFavorite.html">我的收藏</a>
                        <!-- <a class="sub-nav" href="/systemNotice.html">系统通知</a> -->
                        <a class="sub-nav" href="/userInfo/setting">账号设置</a>
                        <a class="sub-nav" href="/logout.html">退出</a>
                    </div>
                </li>
                <li class="my">
                   <a class="app-download" href="/app.html" target="_blank"><i></i>App下载</a>
<!--                     <div class="app-code">
                        <img src="/public/img/app_download.jpg"/>
                    </div> -->
                </li>
            </ul>

            <a class="pr-login" href="/hrLogin.html"><i></i>我是企业HR</a>
        </div>
         <else />
        <div class="other-nav">
            <div class="logon">
                <a class="logon-item active" href="/login.html">登录</a>
                <span>|</span>
                <a class="logon-item" href="/register.html">注册</a>
            </div>
            <ul class="my-nav">
                <li class="my">
                    <a class="app-download" href="/app.html" target="_blank"><i></i>App下载</a>
<!--                     <div class="app-code">
                        <img src="/public/img/app_download.jpg"/>
                    </div> -->
                </li>
            </ul>
            <a class="pr-login" href="/hrLogin.html"><i></i>我是企业HR</a>
        </div>
        </if>
    </div>