    <if condition="$navclass eq 'index'">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexPage.css">
<else />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pikaday.css">
</if>

    <div class="top">
        <div class="top-nav">
            <a href="/logout.html?return=/index.html"><img src="/public/img/cjn_logo.png"/></a>
            <div class="other-nav">
                <ul class="my-nav">
                    <li><a class="student-link" href="/logout.html">我是学生</a></li>
                    <li><span class="part-line">|</span></li>
                    <li class="my">
                        <a class="app-download" href="/app.html"><i></i>App下载</a>
<!--                         <div class="app-code">
                            <img src="__PUBLIC__/img/app_download.jpg"/>
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>