           <div class="link-tag left-nav">
                <div class="nav-box">
                    <a class="sub-nav about-us <if condition="$about eq 'women'">active</if>" href="/about/aboutUs.html"><i></i>关于我们</a>
                    <a class="sub-nav events <if condition="$about eq 'events'">active</if>" href="/about/mileStone.html"><i></i>大事记</a>
                    <a class="sub-nav partner <if condition="$about eq 'partner'">active</if>" href="/about/ourPartner.html"><i></i>合作伙伴</a>
                   <!--  <a class="sub-nav our-team active" href="/team.html"><i></i>管理团队</a> -->
                    <a class="sub-nav recruit <if condition="$about eq 'join'">active</if>" href="/about/joinUs.html"><i></i>招贤纳士</a>
                    <a class="sub-nav contact-us <if condition="$about eq 'contact'">active</if>" href="/about/contactUs.html"><i></i>联系我们</a>
                </div>
               <div class="code-box">
                   <div class="sub-code">
                       <img src="__PUBLIC__/img/linkImage/cnbb_fw.jpg"/>
                       <span class="code-name">微信服务号</span>
                   </div>
                   <div class="sub-code">
                       <img src="__PUBLIC__/img/linkImage/cnbb_app.png"/>
                       <span class="code-name">菜鸟帮帮APP</span>
                   </div>
               </div>
            </div>