<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-关于我们</title>
    <include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="profile-banner"><img src="__PUBLIC__/img/profile_top.jpg"/></div>

    <div class="my-detail">
        <div class="link-page">

    <include file="./Application/Home/View/libpage/inc_about_nav.html" />

            <div class="link-tag our-info">
                <div class="profile-box">
                    <p class="info-title">公司简介</p>
                    <div class="info-stage">
                        菜鸟帮帮（www.cainiaobangbang.com）是财金通教育旗下的职业发展平台，旨于为财务金融机构与高校学子之间搭建一座覆盖线上及线下全面沟通的桥梁，为金融机构精准匹配后备人才，为在校生提升职业综合素养和竞争力匹配职业目标。
                    </div>
                    <div class="info-stage">
                        菜鸟帮帮的口号：想去金融机构实习？上菜鸟帮帮！
                    </div>
                    <div class="info-stage">
                        菜鸟帮帮的受众目标：有志于到金融行业发展的在校学生
                    </div>
                    <div class="info-stage">
                        笨鸟先飞，菜鸟先行，平台以“菜鸟帮帮”为名，是将向往财务金融领域的莘莘学子比喻为亟待一展身手的雏鸟。虽羽翼稚嫩，却有一飞冲天的雄心，而“菜鸟帮帮”就是学子们得以振翅起飞，化而为鹏的助力平台。
                    </div>
                    <div class="info-stage">
                        在这里，你可以获得向往的财金名企的实践机会，获得在象牙塔内无从涉猎的财金实务学习机会。你可以与有志同行的伙伴们分享自己的知识、感悟，你可以收获职场前辈的谆谆指导、行业大咖面授机宜。更重要的是你赢得了比你的同龄人更早的起飞机会……
                    </div>
                </div>
            </div>
        </div>
    </div>

<include file="./Application/Home/View/libpage/inc_buttom.html" />
</body>
</html>