<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>投简历、找实习、周周大奖抽不停</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/activity.css">
    <include file="./Application/Home/View/libpage/inc_header.html" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?34ac25edfe2cc8e8b542ac3675a55757";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="activity-page">
        <div class="activity-banner"><img src="__PUBLIC__/img/activity/h5/activity_banner.png"/></div>
        <div class="activity-cont">
        <if condition="$drive eq 'app_auth'">
            <a class="activity-btn" href="//a.app.qq.com/o/simple.jsp?pkgname=com.finance.cainiaobangbang" onclick="_hmt.push(['_trackEvent', '活动-app', 'click', '活动'])">马上投递</a>
        <else />
            <a class="activity-btn" href="//a.app.qq.com/o/simple.jsp?pkgname=com.finance.cainiaobangbang" onclick="_hmt.push(['_trackEvent', '活动-app', 'click', '活动'])">立即参与</a>
        </if>

            <p class="winner-title">中奖名单</p>

            <div class="winners-nav">
                <span class="sub-nav">10月17日-10月24日</span>
                <span class="sub-nav active">10月24日-10月31日</span>
            </div>
            <div class="winners">
                <div class="winners-item zjyqj">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_zjyq.jpg"/></div>
                        <div class="winners-info">
                            <div class="info-th">
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">131****9516</span>
                                    <span class="winner-basic">Beats EP耳机</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winners-item xyyb">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_xyyb.jpg"/></div>
                        <div class="winners-info">
                            <div class="info-th">
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">188****6032</span>
                                    <span class="winner-basic">100元话费</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winners-item hybb">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_hybb.jpg"/></div>
                        <div class="winners-info roll">
                            <div class="info-th">
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">188****3231</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">187****7761</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">135****7982</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">150****1833</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">158****5952</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">188****8920</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">183****4009</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">138****5773</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">187****3527</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">134****7327</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">136****7845</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">184****4910</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">188****7919</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">188****0614</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="winners" style="display: block">
                <div class="winners-item zjyqj">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_zjyq.jpg"/></div>
                        <div class="winners-info">
                            <div class="info-th">
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">177****0817</span>
                                    <span class="winner-basic">Beats EP耳机</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winners-item xyyb">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_xyyb.jpg"/></div>
                        <div class="winners-info">
                            <div class="info-th">
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">187****3527</span>
                                    <span class="winner-basic">100元话费</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winners-item hybb">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_hybb.jpg"/></div>
                        <div class="winners-info roll">
                            <div class="info-th">
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">158****1280</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">185****7132</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">151****5335</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">150****8816</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">152****2329</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">183****3840</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">183****4009</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">139****9057</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">150****1833</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">158****3929</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">183****7561</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">188****6032</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">130****4741</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">187****7761</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">189****0552</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">135****1482</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">150****1300</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">151****0725</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">183****3716</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">183****7263</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">186****2014</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">188****3231</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="winners-tips">
                <p class="wishes">恭喜以上获奖的宝宝们！！</p>
                <p class="sub-tips"><span></span>中话费的同学近几天留意一下手机，我们工作人员会陆续给大家充值！</p>
                <p class="sub-tips"><span></span>本周还没有产生推荐奖！小伙伴们赶快推荐自己的好友来参加夺奖啦！翻滚吧话费！</p>
                <p class="sub-tips"><span></span>没有抽中的也不要灰心，赶紧行动，我们下周再约起来！</p>
            </div>

            <div class="award-img"><img src="__PUBLIC__/img/activity/h5/activity_award.png"/></div>
            <div class="rule-item">
                1、所有用户均可参与，注册、完善简历、完成投递，即可获得免费抽奖机会；<br>
                2、完成一次简历投递将获得本周抽奖机会，抽奖机会仅限本周参与，每周清零不累计至下周，每周一公布上周获奖名单；<br>
                3、简历投递次数与中奖概率成正比，每增加一次简历投递，便可提高中奖概率；<br>
                4、用户保证所填写的简历真实、有效，并且符合岗位要求，否则则将被视为放弃抽奖资格。如中奖后，可能会需要用户提供有效身份证明资料。
            </div>
            <p class="our-warn">特别说明：本活动真实有效，最终解释权归菜鸟帮帮所有。</p>
            <if condition="$drive eq wx">
            <div class="download-img"><img src="__PUBLIC__/img/activity/h5/download.png"/></div>
            <a class="activity-btn" href="//a.app.qq.com/o/simple.jsp?pkgname=com.finance.cainiaobangbang" onclick="_hmt.push(['_trackEvent', '活动-微信', 'click', '活动'])">立即参与</a>
            <elseif condition="$drive eq h5"/>
            <div class="download-img"><img src="__PUBLIC__/img/activity/h5/download.png"/></div>
            <a class="activity-btn" href="//a.app.qq.com/o/simple.jsp?pkgname=com.finance.cainiaobangbang" onclick="_hmt.push(['_trackEvent', '活动-手机浏览器', 'click', '活动'])">立即参与</a>
            <elseif condition="$drive eq app"/>
            <a class="activity-btn" href="//a.app.qq.com/o/simple.jsp?pkgname=com.finance.cainiaobangbang" onclick="_hmt.push(['_trackEvent', '活动-app', 'click', '活动'])">立即参与</a>
            <elseif condition="$drive eq app_auth"/>
            <a class="activity-btn" href="//a.app.qq.com/o/simple.jsp?pkgname=com.finance.cainiaobangbang" onclick="_hmt.push(['_trackEvent', '活动-app', 'click', '活动'])">马上投递</a>
            </if>
        </div>
    </div>

    <script>
        $(function () {
            var navL = $(".winners-nav").find(".sub-nav").length;
            var contL = $(".winners").length;
            if (navL != contL){
                return;
            }
            $(".sub-nav").each(function (index) {
                $(this).click(function () {
                    $(this).addClass("active").siblings().removeClass("active");
                    $(".winners").hide().eq(index).show();
                })
            })
        });

        function AutoScroll(obj){
            $(obj).find("ul:first").animate({
                marginTop:"-40px"
            },500,function(){
                $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
            });
        }
        $(document).ready(function(){
            setInterval('AutoScroll(".roll")',2000)
        });
    </script>
</body>
</html>