<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="投简历、找实习、周周大奖抽不停">
    <meta name="keys" content="实习,财金,活动,大奖">
    <title>投简历、找实习、周周大奖抽不停</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
    <include file="./Application/Home/View/libpage/inc_header.html" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?34ac25edfe2cc8e8b542ac3675a55757";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="activity-page">
        <div class="activity-top"><img src="__PUBLIC__/img/activity/pc/activity_top.png"/></div>
        <div class="activity-cont">

            <a class="activity-btn" href="/register.html" onclick="_hmt.push(['_trackEvent', '活动-web', 'click', '活动'])">立即参与</a>

            <div class="winners">
                <div class="winners-item zjyqj">
                    <p class="award-time">10月24日-10月31日中奖名单</p>
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_zjyq.jpg"/></div>
                        <div class="winners-info">
                            <div class="info-th">
                                <span class="winner-basic">姓名</span>
                                <span class="winner-school">学校</span>
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">鞠瑞</span>
                                    <span class="winner-school">上海财经大学</span>
                                    <span class="winner-basic">177****0817</span>
                                    <span class="winner-basic">Beats EP耳机</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winners-item xyyb">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_xyyb.jpg"/></div>
                        <div class="winners-info">
                            <div class="info-th">
                                <span class="winner-basic">姓名</span>
                                <span class="winner-school">学校</span>
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">姜威</span>
                                    <span class="winner-school">中原工学院</span>
                                    <span class="winner-basic">187****3527</span>
                                    <span class="winner-basic">100元话费</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winners-item hybb">
                    <div class="award-info">
                        <div class="award-name"><img src="__PUBLIC__/img/activity_hybb.jpg"/></div>
                        <div class="winners-info roll">
                            <div class="info-th">
                                <span class="winner-basic">姓名</span>
                                <span class="winner-school">学校</span>
                                <span class="winner-basic">电话</span>
                                <span class="winner-basic">奖项</span>
                            </div>
                            <ul>
                                <li class="info-tr">
                                    <span class="winner-basic">周莹</span>
                                    <span class="winner-school">上海师范大学</span>
                                    <span class="winner-basic">158****1280</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">孙若涵</span>
                                    <span class="winner-school">上海杉达学院</span>
                                    <span class="winner-basic">185****7132</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">刘治麟</span>
                                    <span class="winner-school">中国矿业大学（徐州）</span>
                                    <span class="winner-basic">151****5335</span>
                                    <span class="winner-basic">50元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">朱文君</span>
                                    <span class="winner-school">上海师范大学</span>
                                    <span class="winner-basic">150****8816</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">常媛媛</span>
                                    <span class="winner-school">中国矿业大学（徐州）</span>
                                    <span class="winner-basic">152****2329</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">来诗琦</span>
                                    <span class="winner-school">上海财经大学</span>
                                    <span class="winner-basic">183****3840</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">邹慧敏</span>
                                    <span class="winner-school">上海财经大学</span>
                                    <span class="winner-basic">183****4009</span>
                                    <span class="winner-basic">20元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">何田</span>
                                    <span class="winner-school">上海大学</span>
                                    <span class="winner-basic">139****9057</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">赵燚</span>
                                    <span class="winner-school">南京师范大学</span>
                                    <span class="winner-basic">150****1833</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">林颉玺</span>
                                    <span class="winner-school">上海金融学院</span>
                                    <span class="winner-basic">158****3929</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">亢洲凯</span>
                                    <span class="winner-school">上海建桥学院</span>
                                    <span class="winner-basic">183****7561</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">张莉</span>
                                    <span class="winner-school">上海大学</span>
                                    <span class="winner-basic">188****6032</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">李倩</span>
                                    <span class="winner-school">江西财经大学</span>
                                    <span class="winner-basic">130****4741</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">李莉</span>
                                    <span class="winner-school">北京大学</span>
                                    <span class="winner-basic">187****7761</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">饶真真</span>
                                    <span class="winner-school">江西财经大学</span>
                                    <span class="winner-basic">189****0552</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">赵皎洁</span>
                                    <span class="winner-school">东北财经大学</span>
                                    <span class="winner-basic">135****1482</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">李佳腾</span>
                                    <span class="winner-school">南京财经大学</span>
                                    <span class="winner-basic">150****1300</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">刘莉丽</span>
                                    <span class="winner-school">广州工商学院</span>
                                    <span class="winner-basic">151****0725</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">张思慧</span>
                                    <span class="winner-school">上海财经大学</span>
                                    <span class="winner-basic">183****3716</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">周幻幻</span>
                                    <span class="winner-school">安徽工业大学</span>
                                    <span class="winner-basic">183****7263</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">李林沣</span>
                                    <span class="winner-school">上海电力学院</span>
                                    <span class="winner-basic">186****2014</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                                <li class="info-tr">
                                    <span class="winner-basic">江景</span>
                                    <span class="winner-school">上海师范大学</span>
                                    <span class="winner-basic">188****3231</span>
                                    <span class="winner-basic">10元话费</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="winners-tips">
                    <p class="wishes">恭喜以上获奖的宝宝们！！</p>
                    <p class="sub-tips"><span></span>中话费的同学近几天留意一下手机，我们工作人员会陆续给大家充值！</p>
                    <p class="sub-tips"><span></span>本周还没有产生推荐奖！小伙伴们赶快推荐自己的好友来参加夺奖啦！翻滚吧话费！</p>
                    <p class="sub-tips"><span></span>没有抽中的也不要灰心，赶紧行动，我们下周再约起来！</p>
                </div>
            </div>

            <p class="rule-title"><img src="__PUBLIC__/img/activity/pc/activity_jxsz.png"/></p>
            <div class="award-img"><img src="__PUBLIC__/img/activity/pc/activity_award.png"/></div>
            <p class="rule-title"><img src="__PUBLIC__/img/activity/pc/activity_hdgz.png"/></p>
            <div class="rule-item">
                1、所有用户均可参与，注册、完善简历、完成投递，即可获得免费抽奖机会；<br>
                2、完成一次简历投递将获得本周抽奖机会，抽奖机会仅限本周参与，每周清零不累计至下周，每周一公布上周获奖名单；<br>
                3、简历投递次数与中奖概率成正比，每增加一次简历投递，便可提高中奖概率；<br>
                4、用户保证所填写的简历真实、有效，并且符合岗位要求，否则则将被视为放弃抽奖资格。如中奖后，可能会需要用户提供有效身份证明资料。
            </div>
            <p class="our-warn">特别说明：本活动真实有效，最终解释权归菜鸟帮帮所有。</p>

            <a class="activity-btn" href="/register.html" onclick="_hmt.push(['_trackEvent', '活动-web', 'click', '活动'])">立即参与</a>
        </div>
    </div>

    <script>
        (function($){
            $.fn.myScroll = function(options){
                //默认配置
                var defaults = {
                    speed:40,  //滚动速度,值越大速度越慢
                    rowHeight:24 //每行的高度
                };

                var opts = $.extend({}, defaults, options),intId = [];

                function marquee(obj, step){

                    obj.find("ul").animate({
                        marginTop: '-=1'
                    },0,function(){
                        var s = Math.abs(parseInt($(this).css("margin-top")));
                        if(s >= step){
                            $(this).find("li").slice(0, 1).appendTo($(this));
                            $(this).css("margin-top", 0);
                        }
                    });
                }

                this.each(function(i){
                    var sh = opts["rowHeight"],speed = opts["speed"],_this = $(this);
                    intId[i] = setInterval(function(){
                        if(_this.find("ul").height()<=_this.height()){
                            clearInterval(intId[i]);
                        }else{
                            marquee(_this, sh);
                        }
                    }, speed);

                    _this.hover(function(){
                        clearInterval(intId[i]);
                    },function(){
                        intId[i] = setInterval(function(){
                            if(_this.find("ul").height()<=_this.height()){
                                clearInterval(intId[i]);
                            }else{
                                marquee(_this, sh);
                            }
                        }, speed);
                    });

                });

            }

        })(jQuery);

        $(function(){
            $(".roll").myScroll({
                speed:30,
                rowHeight:50
            });
        });
    </script>
</body>
</html>