<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-APP下载</title>
    <include file="./Application/Home/View/libpage/inc_header.html" />

</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="download-page">
        <div class="download-img"><img src="__PUBLIC__/img/download_ad_phone.png"/></div>
        <div class="download-info">
            <div class="slogan"><img src="__PUBLIC__/img/download_ad_text.png"/></div>
            <div class="download">
                <div class="download-btn">
                    <a class="sub-btn" href="http://imtt.dd.qq.com/16891/2F1DE9C476D26BA535EBCE905A1FD1FF.apk?fsname=com.finance.cainiaobangbang_1.3.1_45.apk&csr=4d5s">Android下载</a>
                    <a class="sub-btn" href="https://itunes.apple.com/us/app/cai-niao-bang-bang/id1002301865?mt=8" >iOS下载</a>
                </div>
                <div class="download-code">
                    <img src="__PUBLIC__/img/app_download.jpg"/>
                    <p class="code-info">扫码下载APP</p>
                </div>
            </div>
        </div>
    </div>

<script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/js/style.js"></script>
</body>
</html>