<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-招贤纳士</title>
    <include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="profile-banner"><img src="__PUBLIC__/img/profile_top.jpg"/></div>

    <div class="my-detail">
        <div class="link-page">
 <include file="./Application/Home/View/libpage/inc_about_nav.html" />

            <div class="link-tag our-info">
                <div class="recruit-box">
                    <p class="info-title">当前热招岗位</p>
                    <div class="recruit">
                        <span class="sub-recruit active">产品经理(网络招聘类)<span></span></span>
                        <span class="sub-recruit">.Net高级开发工程师<span></span></span>
                        <span class="sub-recruit">渠道经理<span></span></span>
                        <span class="sub-recruit">网站内容编辑<span></span></span>
                        <span class="sub-recruit">客服专员<span></span></span>
                    </div>

                    <div class="break"></div>

                    <div class="recruit-detail">
                        <div class="recruit-cont">
                            <div class="info-stage">
                                #招聘季#金九银十，财金通秋季招聘计划大揭秘！<br>
                                无论你是职场小白，还是领域大神；无论你是明年此时的毕业学子，还是经过磨砺的职场高手，我们相信，我们能给你的不止眼前的职业机会，还有成长和未来！<br>
                                只要你有梦有激情有想法，有才有斗志有目标；<br>
                                财金通即将为你点亮梦想，欢迎砸简历，我们在未来等你！
                            </div>
                            <p class="info-title">产品经理（网络招聘类）</p>
                            <div class="info-stage">
                                一、职位描述：<br>
                                1、负责企业网络招聘产品的功能规划、UI设计及持续改进，满足现有和预期的市场需求；<br>
                                2、将需求整理为具体的业务流程和产品形态制作产品原型，撰写产品需求文档，以供设计、开发、测试人员明确产品需求和进行开发、测试；<br>
                                3、负责产品上线后的跟踪优化和分析工作，制定版本优化计划并跟进实施；<br>
                                4、负责定期监测、整理与分析用户需求，对竞品动态与行业情况等进行分析，评估、优化产品体验及功能；<br>
                                5、收集反馈，分析用户行为统计数据，挖掘并发现用户需求，对产品进行持续改进，不断提升用户体验及满意度；<br>
                                6、负责产品周期管理，与相关团队紧密合作，跟进产品设计、开发、测试、上线全过程，对用户体验和产品收益负责。
                            </div>
                            <div class="info-stage">
                                二、任职要求：<br>
                                1、本科及以上学历，3年以上网络招聘类产品经理经验；<br>
                                2、熟悉产品设计理念及方法，对用户习性有独到认识，了解技术特性和系统构架；<br>
                                3、熟悉互联网或软件产品整体实现过程，包括从需求分析到产品发布；<br>
                                4、具备独立撰写产品文档的能力，熟练掌握产品需求分析、设计技巧,对交互设计过程有深入了解，有成功的产品策划案例；<br>
                                5、熟悉iOS和Android等系统基本特性；<br>
                                6、熟悉产品交互设计、功能逻辑设计相关流程，包括PRD文档、DEMO原型及交互设计、功能LIST及逻辑图、用例描述等；<br>
                                7、熟练运用Axure、Visio、Mindmanager、Photoshop等相关软件；<br>
                                8、具备较强的逻辑思维能力、学习创新能力、数据分析能力和语言表达能力；<br>
                                9、较强的项目管理能力，善于跨部门组织、沟通和协调资源；<br>
                                10、良好的沟通协调技巧和团队合作意识，能承受较大的工作压力。
                            </div>
                        </div>
                        <div class="recruit-cont">
                            <div class="info-stage">
                                #招聘季#金九银十，财金通秋季招聘计划大揭秘！<br>
                                无论你是职场小白，还是领域大神；无论你是明年此时的毕业学子，还是经过磨砺的职场高手，我们相信，我们能给你的不止眼前的职业机会，还有成长和未来！<br>
                                只要你有梦有激情有想法，有才有斗志有目标；<br>
                                财金通即将为你点亮梦想，欢迎砸简历，我们在未来等你！
                            </div>
                            <p class="info-title">.Net高级开发工程师</p>
                            <div class="info-stage">
                                一、职位描述：<br>
                                1、负责公司内外部管理系统搭建及维护<br>
                                2、负责系统模块分析和系统接口设计<br>
                                3、负责系统数据模块设计<br>
                                4、系统错误异常排查与修复<br>
                                5、能够承受一定压力, 学习能力强, 态度认真, 积极主动
                            </div>
                            <div class="info-stage">
                                二、任职要求：<br>
                                1、计算机相关专业本科及以上学历<br>
                                2、具有6年以上经验于.net开发互联网大型网站开发经验, 熟悉软件开发工具, 如Visual Studio<br>
                                3、熟悉B/S系统开发, ASP.NET/MVC, ADO.NET/EF, Web Service, MemCached, Web API<br>
                                4、熟悉SQL Server, 能够熟练编写存储过程、函数相应的DML语句和子查询，数据库编程和调优经验<br>
                                5、熟悉Javascript, Jquery, CSS, JqueryUI, XML<br>
                                6、对AngularJs, NodeJs, Bootstrap, SignalR, NoSQL有经验者佳<br>
                                7、有良好的编程习惯与log分析与bug排查能力
                            </div>
                        </div>
                        <div class="recruit-cont">
                            <div class="info-stage">
                                #招聘季#金九银十，财金通秋季招聘计划大揭秘！<br>
                                无论你是职场小白，还是领域大神；无论你是明年此时的毕业学子，还是经过磨砺的职场高手，我们相信，我们能给你的不止眼前的职业机会，还有成长和未来！<br>
                                只要你有梦有激情有想法，有才有斗志有目标；<br>
                                财金通即将为你点亮梦想，欢迎砸简历，我们在未来等你！
                            </div>
                            <p class="info-title">渠道经理</p>
                            <div class="info-stage">
                                一、职位描述：<br>
                                1、根据部门制定指标计划，完成金融机构或高校渠道的建立、开拓与维护；<br>
                                2、沟通、了解金融机构基础人才需求，洞察基础人才市场变化并进行有效反馈；<br>
                                3、负责或配合策划或组织、执行与对接企业相关的线上或线下活动；<br>
                                4、配合完成部门的其他工作。
                            </div>
                            <div class="info-stage">
                                二、任职要求：<br>
                                1、 2-3年以上市场或销售等相关工作经验，具有金融机构、高校渠道工作经验或渠道资源者优先；<br>
                                2、 具备良好的沟通协调能力和人际关系处理能力，工作积极主动；<br>
                                3、 具备良好的执行能力和责任意识，敏锐的市场洞察力和分析能力；<br>
                                4、 具备良好的市场营销意识和能力，拥有活动策划及组织经验者优先；<br>
                                5、 富有团队合作精神，认同企业文化。
                            </div>
                        </div>
                        <div class="recruit-cont">
                            <div class="info-stage">
                                #招聘季#金九银十，财金通秋季招聘计划大揭秘！<br>
                                无论你是职场小白，还是领域大神；无论你是明年此时的毕业学子，还是经过磨砺的职场高手，我们相信，我们能给你的不止眼前的职业机会，还有成长和未来！<br>
                                只要你有梦有激情有想法，有才有斗志有目标；<br>
                                财金通即将为你点亮梦想，欢迎砸简历，我们在未来等你！
                            </div>
                            <p class="info-title">网站内容编辑</p>
                            <div class="info-stage">
                                一、职位描述：<br>
                                1、负责网站、宣传册文字以及产品包装、品牌推广相关的文字拟定；<br>
                                2、与产品配合，负责产品、市场线上、线下活动等文案策划，创意策划；<br>
                                3、定期对于网站内容进行核查与纠错，提出优化建议；<br>
                                4、对线上活动进行意见反馈收集，进行活动效果总结；<br>
                                5、协助部门同事一起完成其他相关工作。
                            </div>
                            <div class="info-stage">
                                二、任职要求：<br>
                                1、网络及社交媒体重度依赖患者，具备扎实的文字功底，文字美、写稿快；能够准确理解客户品牌并根据网民喜好撰写出风格轻松活泼的文字，在低俗与高雅之间能够游刃有余；<br>
                                2、有卧薪藏胆的学习能力，也有天马行空的发散思维，对品牌建设和口碑营销有独到的分析和拓展能力；<br>
                                3、具备良好的职业素养及团队合作精神，认同企业文化，较强的执行力和沟通力；<br>
                                4、热爱互联网、热爱生活、热爱自己，善于发现生活中的美好、并善于表达；<br>
                                5、具有较强的市场感知能力、社会热点洞察力，能够敏锐把握行业动态并迅速应对；<br>
                                6、全日制专科及以上学历，新闻、传媒、广告、汉语言文学等相关专业，1-3年策划/文案撰写经验者优先；曾发表文章或有出版物经验者优先；应聘时需提供以往案例。
                            </div>
                        </div>
                        <div class="recruit-cont">
                            <div class="info-stage">
                                #招聘季#金九银十，财金通秋季招聘计划大揭秘！<br>
                                无论你是职场小白，还是领域大神；无论你是明年此时的毕业学子，还是经过磨砺的职场高手，我们相信，我们能给你的不止眼前的职业机会，还有成长和未来！<br>
                                只要你有梦有激情有想法，有才有斗志有目标；<br>
                                财金通即将为你点亮梦想，欢迎砸简历，我们在未来等你！
                            </div>
                            <p class="info-title">客服专员</p>
                            <div class="info-stage">
                                一、职位描述：<br>
                                1、 负责已注册学员以及新学员的日常电话咨询、沟通和回访，包括学员简历的完善，简历投递，新增企业的信息推送等；<br>
                                2、 负责企业端的日常维护以及新增岗位发送；<br>
                                3、 做好企业端和学员端的衔接工作，使其双方都达到满意程度；<br>
                                4、 不断提升企业以及学员满意度，同时完成学员的转介绍工作；<br>
                                5、 完成领导交办的其他事宜。
                            </div>
                            <div class="info-stage">
                                二、任职要求：<br>
                                1、本科以上学历，条件和可适当放宽至大专；<br>
                                2、形象气质良好，性格热情友善，待人亲和，诚实可信；<br>
                                3、良好的理解能力、学习能力和执行力，能快速掌握工作流程并快速有效实施；<br>
                                4、良好的语言表达和沟通能力，良好的组织协调能力；<br>
                                5、具备优秀服务意识，能够积极主动服务客户；<br>
                                6、良好的危机处理能力，能快速妥善解决各类突发状况；<br>
                                7、优秀的团队队作意识，有效协助同事及部门达成共同目标；<br>
                                8、责任心强，吃苦耐劳、诚实敬业，能承受较大工作压力，有相关经验者优先。
                            </div>
                        </div>
                    </div>

                    <div class="recruit-tel">
                        <div class="tel-item">请将你的简历发送至：<span>hr@wmichina.org</span></div>
                        <div class="tel-item">
                            HR联系电话：
                            <span>021- 3119 0961</span>
                            <span>021- 3119 0962</span>
                            <span>021-51619740-716\717</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="./Application/Home/View/libpage/inc_buttom.html" />

<script>
    $(function () {
        var navL = $(".recruit").find(".sub-recruit").length,
                contL = $(".recruit-detail").find(".recruit-cont").length;
        if (navL != contL){
            return;
        }
        $(".sub-recruit").each(function (index) {
            $(this).click(function () {
                $(this).addClass("active").siblings().removeClass("active");
                $(".recruit-detail").find(".recruit-cont").hide().eq(index).show();
            })
        })
    });
</script>
</body>
</html>