<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-管理团队</title>
    <include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="profile-banner"><img src="__PUBLIC__/img/profile_top.jpg"/></div>

    <div class="my-detail">
        <div class="link-page">
 <include file="./Application/Home/View/libpage/inc_about_nav.html" />

            <div class="link-tag our-info">
                <div class="team-box">
                    <p class="info-title">管理团队</p>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_xu.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">薛桢梁<span>CFP 首席执行官</span></p>
                            <div class="profile">
                                美国伊利诺理工学院金融市场与交易硕士，美国认证金融理财师。曾任美国林肯金融集团亚裔市场总监，美国大都会金融服务公司芝加哥地区金融规划部总监，国际金融理财标准委员会上海项目中心主任和北京金融培训中心主任。曾参与主持了将国际金融理财师证书（CFP）引入中国金融业并使其成为中国零售银行业的认证标准之一。在美国高端财富管理和私人银行领域有多年的理论和实践经验，具有为各大银行总行和保险公司总部进行高端财富管理培训与咨询的丰富经验。
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_meng.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">杨萌涵<span>助理总裁</span></p>
                            <div class="profile">
                                曾就职于复旦大学管理学院、香港大学经济与工商管理学院、哈佛商业评论等多家知名教育、媒体机构，担任高端教育培训与媒体品牌市场推广与招生工作。其所负责的MBA/EMBA项目多次被Financial Times、经济学人等多家国际权威机构认证为国内第一、具全球影响力的项目，参与学院AACSB/EQUIS认证、复审工作及外事接待工作，策划并组织大型学院品牌活动，拥有良好的媒体关系、丰富的教育培训品牌运作与推广经验。此前，曾在大型跨国贸易公司担任市场及运营总监一职，在半导体、电子、通信、计算机、汽车等多行业领域，参与市场评估与执行、进销存管理、渠道建设、团队建设、VIP客户关系管理等工作。
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_li.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">李超<span>助理总裁</span></p>
                            <div class="profile">
                                西南财经大学-经济学学士；韦伯斯特大学-MBA。曾任职中国建设银行总行多年，先后从事市场、审批、风险管理、团队管理等工作。善于培训体系及管理咨询模型构建，设计培训课程，具体实施并管理培训。善于组织策划、员工激励及人员管理，对客户行为、宏观经济、运营管理、财私中心构建、团队管理、项目咨询等方面有丰富经验和独特见解。
                                多次为各类机构提供相关金融业务内训课程，将复杂知识以简单化方式讲授，运用大量研究与实际案例，将理论与实践相结合，同时在课程基本框架基础上，综合经济、金融、管理、行为、心理学知识，有效培养学员综合化的个人素养。商业银行咨询理论与实践经验丰富，主导参与多个中小、大型商业银行咨询项目。
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_ye.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">叶涛<span>助理总裁</span></p>
                            <div class="profile">
                                CFA （注册金融分析师）持证人、FRM（金融风险分析师）持证人、CIA （注册内部审计师）持证人；曾任职于某国有集团上海投资开发中心担任投资分析师，某外资银行（中国总行）负责零售银行产品研发、市场营销及销售管理工作。
                                加入陆家嘴财富管理培训中心后历任高级研究员、研发部经理、首席咨询师及高级讲师，拥有丰富的个人银行金融实务管理经验，熟悉中、外资银行个金业务开发、管理特点，擅长为金融机构的业务发展、管理和研发提供有针对性的、切实可行的培训解决方案。曾多次担任工商银行、中国银行、农业银行、邮储银行、平安银行等国内外知名机构培训课程主讲老师，并主导培训课程体系设计及研发工作。
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_yin.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">滕小芹<span>CPA 学习中心副总监</span></p>
                            <div class="profile">
                                毕业于澳大利亚迪肯大学金融、会计专业，先后深造于上海交通大学上海高级金融学院和美国康奈尔大学约翰逊商学院并获得MBA学位。曾供职于美国金融研究机构Discern、德勤咨询并购交易部,具有超过10年的海外财务管理和相关金融领域工作经验，长期专注于公司金融领域研究，擅长财务报表分析，澳大利亚税务和养老金咨询等专业服务。曾参与特许公司银行家项目的教材编写工作，多次为大型国有商业银行、基金公司提供CFA、证券投资、财务分析等相关课程的培训，善于将多年的实务经验结合到金融知识的讲授，帮助学员深刻理解并有效运用到实际工作中，提高学员的专业素养。
                            </div>
                        </div>
                    </div>
                </div>

                <div class="break"></div>

                <div class="team-box">
                    <p class="info-title">管理委员会</p>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_xu.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">薛桢梁<span> CFP 财金通首席执行官 陆家嘴财富管理培训中心 董事长</span></p>
                            <div class="profile">
                                美国伊利诺理工学院金融市场与交易硕士，美国认证金融理财师。曾任美国林肯金融集团亚裔市场总监，美国大都会金融服务公司芝加哥地区金融规划部总监，国际金融理财标准委员会上海项目中心主任和北京金融培训中心主任。曾参与主持了将国际金融理财师证书（CFP）引入中国金融业并使其成为中国零售银行业的认证标准之一。在美国高端财富管理和私人银行领域有多年的理论和实践经验，具有为各大银行总行和保险公司总部进行高端财富管理培训与咨询的丰富经验。
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_wu.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">邬瑜骏<span>CFA / FRM / CFP 陆家嘴财富管理培训中心 总裁</span></p>
                            <div class="profile">
                                新加坡南洋理工大学金融学博士，曾任全球最大的教育集团Kaplan Financial（中国区）金融学术总监，负责Kaplan Financial 在金融市场各培训课程的设计开发和教学工作。曾担任全球风险管理师协会（GARP）上海地区总监，为服务的金融机构设计推广金融风险衡量与管理方案。具有超过六年海外金融留学工作经验，曾任教南洋理工大学、复旦大学、厦门大学等多所高校的金融院系，是投资分析、财富管理、零售银行建设方面的咨询专家。
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="leader-photo"><img src="__PUBLIC__/img/linkImage/leader_yang.jpg"></div>
                        <div class="leader-profile">
                            <p class="leader">杨小芳<span>MBA 陆家嘴财富管理培训中心 高级副总裁</span></p>
                            <div class="profile">
                                浙江大学MBA，曾任国际CFP（上海）项目中心副主任、太平人寿浙江分公司副总经理，平安人寿杭州营业部总经理。国际金融理财师证书（CFP）培训资深讲师。负责主持零售银行网点转型落地咨询项目，擅长以丰富的金融管理与营销实战经验为银行、基金公司等金融机构在营销战略、销售渠道建设方面进行诊断，精准找出其发展中所面临的瓶颈，并提供有效的综合解决方案，是金融营销领域中实战型的专家。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="./Application/Home/View/libpage/inc_buttom.html" />
</body>
</html>