<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>菜鸟帮帮-合作伙伴</title>
    <include file="./Application/Home/View/libpage/inc_header.html" />
</head>
<body>
<include file="./Application/Home/View/libpage/inc_top.html" />

    <div class="profile-banner"><img src="__PUBLIC__/img/profile_top.jpg"/></div>

    <div class="my-detail">
        <div class="link-page">

    <include file="./Application/Home/View/libpage/inc_about_nav.html" />

            <div class="link-tag our-info">
                <div class="guide-box">
                    <p class="info-title">主要指导单位及合作机构</p>
                    <div class="guide-item">
                        <p class="guide-title">财金通新秀大赛指导单位：</p>
                        <div class="guide">
                            <span class="sub-guide">北京市金融局</span>
                            <span class="sub-guide">北京市教委</span>
                            <span class="sub-guide">上海市金融办</span>
                            <span class="sub-guide">上海市教委</span>
                        </div>
                    </div>
                    <div class="guide-item">
                        <p class="guide-title">财金通新秀大赛主办单位：</p>
                        <div class="guide">
                            <span class="sub-guide">北京高校毕业生就业指导中心</span>
                            <span class="sub-guide">北京市金融发展促进中心</span>
                            <span class="sub-guide">上海市学生事务中心</span>
                        </div>
                    </div>
                </div>
                <div class="college-box">
                    <p class="info-title">主要合作院校</p>
                    <p class="others-info-title">北京高校</p>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingdaxue.png"></div>
                        <span class="college-name">北京大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/qinghuadaxue.png"></div>
                        <span class="college-name">清华大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhongguorenmindaxue.jpg"></div>
                        <span class="college-name">中国人民大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingshifandaxue.png"></div>
                        <span class="college-name">北京师范大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhongyangcaijingdaxue.jpg"></div>
                        <span class="college-name">中央财经大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/duiwaijingmaodaxue.jpg"></div>
                        <span class="college-name">对外经济贸易大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/jinmaodaxue.png"></div>
                        <span class="college-name">首都经济贸易大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src=" __PUBLIC__/img/linkImage/beijinggongshangdaxue.png"></div>
                        <span class="college-name">北京工商大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijinghangkonghangtiandaxue.png"></div>
                        <span class="college-name">北京航空航天大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingligongdaxue.png"></div>
                        <span class="college-name">北京理工大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhongguonongyedaxue.jpg"></div>
                        <span class="college-name">中国农业大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhongguodizhidaxue.jpg"></div>
                        <span class="college-name">中国地质大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingkejidaxue.png"></div>
                        <span class="college-name">北京科技大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingjiaotongdaxue.png"></div>
                        <span class="college-name">北京交通大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijinggongyedaxue.jpg"></div>
                        <span class="college-name">北京工业大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijinglinyedaxue.jpg"></div>
                        <span class="college-name">北京林业大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingdianlidaxue.jpg"></div>
                        <span class="college-name">北京电力大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingyoudiandaxue.png"></div>
                        <span class="college-name">北京邮电大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingwaiguoyudaxue.png"></div>
                        <span class="college-name">北京外国语大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingdierwaiguoyuxueyuan.jpg"></div>
                        <span class="college-name">北京第二外国语学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingchengshixueyuan.jpg"></div>
                        <span class="college-name">北京城市学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/beijingjianzhudaxue.jpg"></div>
                        <span class="college-name">北京建筑大学</span>
                    </div>
                </div>
                <div class="college-box">
                    <p class="others-info-title">上海高校</p>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/fudandaxue.jpg"></div>
                        <span class="college-name">复旦大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/jiaoda.jpg"></div>
                        <span class="college-name">交通大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/tongjidaxue.jpg"></div>
                        <span class="college-name">同济大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/huashida.jpg"></div>
                        <span class="college-name">华东师范大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/huali.jpg"></div>
                        <span class="college-name">华东理工大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaicaida.jpg"></div>
                        <span class="college-name">上海财经大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shangwaimao.jpg"></div>
                        <span class="college-name">上海对外经贸大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/lixinkuaiji.jpg"></div>
                        <span class="college-name">立信会计金融学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaishangxueyuan.jpg"></div>
                        <span class="college-name">上海商学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shangda.jpg"></div>
                        <span class="college-name">上海大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/donghuadaxue.jpg"></div>
                        <span class="college-name">东华大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghailigongdaxue.jpg"></div>
                        <span class="college-name">上海理工大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/huazhengfa.jpg"></div>
                        <span class="college-name">华东政法大学</span>
                    </div>
<!--                     <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaijinrong.jpg"></div>
                        <span class="college-name">上海金融学院</span>
                    </div> -->
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaishifan.jpg"></div>
                        <span class="college-name">上海师范大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/waiguoyudaxue.jpg"></div>
                        <span class="college-name">上海外国语大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaihaishidaxue.jpg"></div>
                        <span class="college-name">上海海事大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaihaiyangdaxue.jpg"></div>
                        <span class="college-name">上海海洋大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/gongchengjishu.jpg"></div>
                        <span class="college-name">上海工程技术大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaidianlixueyuan.jpg"></div>
                        <span class="college-name">上海电力学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaiyingyongjishuxueyuan.jpg"></div>
                        <span class="college-name">上海应用技术学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaidiergongyedaxue.jpg"></div>
                        <span class="college-name">上海第二工业大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaizhenfadaxue.jpg"></div>
                        <span class="college-name">上海政法大学</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaidianjixueyuan.jpg"></div>
                        <span class="college-name">上海电机学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaihaiguanxueyuan.jpg"></div>
                        <span class="college-name">上海海关学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaishandaxueyuan.jpg"></div>
                        <span class="college-name">上海杉达学院</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shanghaijianqiaoxueyuan.jpg"></div>
                        <span class="college-name">上海建桥学院</span>
                    </div>
                </div>
                <div class="college-box">
                    <p class="others-info-title">其他合作院校</p>
                    <div class="college-others">
                        <span class="sub-college">华北电力大学</span>
<!--                         <span class="sub-college">北京建筑大学</span>
                        <span class="sub-college">北京工业大学</span>
                        <span class="sub-college">北京林业大学</span>
                        <span class="sub-college">北京城市学院</span> -->
<!--                         <span class="sub-college">上海理工大学</span>
                        <span class="sub-college">上海师范大学</span>
                        <span class="sub-college">东华大学</span>
                        <span class="sub-college">上海商学院</span>
                        <span class="sub-college">上海海事大学</span>
                        <span class="sub-college">上海政法学院</span>
                        <span class="sub-college">上海电机学院</span>
                        <span class="sub-college">上海电力学院</span>
                        <span class="sub-college">上海海洋大学</span>
                        <span class="sub-college">上海杉达学院</span>
                        <span class="sub-college">上海建桥学院</span>
                        <span class="sub-college">上海第二工业大学</span>
                        <span class="sub-college">上海应用技术学院</span>
                        <span class="sub-college">上海海关学院</span> -->
                        <span class="sub-college">天津理工大学</span>
                        <span class="sub-college">天津工程师范学院</span>
                        <span class="sub-college">天津外国语大学</span>
                        <span class="sub-college">武汉大学</span>
                        <span class="sub-college">厦门大学</span>
                        <span class="sub-college">山东大学</span>
                        <span class="sub-college">东南大学</span>
                        <span class="sub-college">华中科技大学</span>
                        <span class="sub-college">江西财经大学</span>
                        <span class="sub-college">南京审计学院</span>
                        <span class="sub-college">南京师范大学</span>
                        <span class="sub-college">江苏理工学院</span>
                        <span class="sub-college">江南大学</span>
                        <span class="sub-college">无锡太湖学院</span>
                        <span class="sub-college">南京工业大学</span>
                        <span class="sub-college">南京林业大学</span>
                        <span class="sub-college">南京信息工程大学</span>
                        <span class="sub-college">江苏大学</span>
                        <span class="sub-college">青岛大学</span>
                        <span class="sub-college">中国海洋大学</span>
                        <span class="sub-college">杭州商学院</span>
                        <span class="sub-college">宁波大学</span>
                        <span class="sub-college">上海财经大学浙江学院</span>
                        <span class="sub-college">南昌大学</span>
                        <span class="sub-college">安徽工业大学</span>
                        <span class="sub-college">中南民族大学</span>
                        <span class="sub-college">昆明学院</span>
                    </div>
                </div>
                <div class="college-box">
                    <p class="info-title">主要合作金融机构</p>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/gongshangbk.jpg"></div>
                        <span class="college-name">工商银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/nongyebk.jpg"></div>
                        <span class="college-name">农业银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/zhongguobk.jpg"></div>
                        <span class="college-name">中国银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/jianshebk.jpg"></div>
                        <span class="college-name">建设银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/jiaotongbk.jpg"></div>
                        <span class="college-name">交通银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/zhongxinbk.jpg"></div>
                        <span class="college-name">中信银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/zhaoshangbk.jpg"></div>
                        <span class="college-name">招商银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/pufabk.jpg"></div>
                        <span class="college-name">浦发银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/xingyebk.jpg"></div>
                        <span class="college-name">兴业银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/shanghaibk.jpg"></div>
                        <span class="college-name">上海银行</span>
                    </div>
                     <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/dongyabk.jpg"></div>
                        <span class="college-name">东亚银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/dahuabk.jpg"></div>
                        <span class="college-name">大华银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/bank/fubangbk.jpg"></div>
                        <span class="college-name">富邦华一银行</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/zhongxinzq.jpg"></div>
                        <span class="college-name">中信建设证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/guotaizq.jpg"></div>
                        <span class="college-name">国泰君安证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/shenwanzq.jpg"></div>
                        <span class="college-name">申万宏源证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/guangfazq.jpg"></div>
                        <span class="college-name">广发证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/guokaizq.jpg"></div>
                        <span class="college-name">国开证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/zhongtaizq.jpg"></div>
                        <span class="college-name">中泰证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/haitongzq.jpg"></div>
                        <span class="college-name">海通证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/zhengquan/dongfangzq.jpg"></div>
                        <span class="college-name">东方证券</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/jijin/huaanjj.jpg"></div>
                        <span class="college-name">华安基金</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/jijin/tianhongjj.jpg"></div>
                        <span class="college-name">天弘基金</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/baoxian/taipingyangbx.jpg"></div>
                        <span class="college-name">太平洋保险</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/baoxian/changjiangyanglaobx.jpg"></div>
                        <span class="college-name">长江养老</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/baoxian/taikangrenshoubx.jpg"></div>
                        <span class="college-name">泰康人寿</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/baoxian/zhongmeibx.jpg"></div>
                        <span class="college-name">中美联泰大都会人寿</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shiwusuo/deqinsws.jpg"></div>
                        <span class="college-name">德勤会计师事务所</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shiwusuo/bimaweisws.jpg"></div>
                        <span class="college-name">毕马威会计师事务所</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shiwusuo/ruihuasws.jpg"></div>
                        <span class="college-name">瑞华会计师事务所</span>
                    </div>
                    <div class="college-item">
                        <div class="college-img"><img src="__PUBLIC__/img/linkImage/shiwusuo/zhitongsws.jpg"></div>
                        <span class="college-name">致同会计师事务所</span>
                    </div>
                </div>
                <div class="college-box">
                    <p class="others-info-title">其他主要合作方</p>
                    <div class="college-others">
                        <span class="sub-college">亚马逊</span>
                        <span class="sub-college">当当网</span>
                        <span class="sub-college">中信出版社</span>
                        <span class="sub-college">机械工业出版社</span>
                        <span class="sub-college">中国金融出版社</span>
                        <span class="sub-college">中国人民大学出版社</span>
                        <span class="sub-college">上海财经大学出版社</span>
                        <span class="sub-college">广东经济出版社</span>
                        <span class="sub-college">清华大学出版社</span>
                        <span class="sub-college">人民邮电出版社</span>
                        <span class="sub-college">企业管理出版社</span>
                        <span class="sub-college">东方出版社</span>
                        <span class="sub-college">中国经济出版社</span>
                        <span class="sub-college">经济科学出版社</span>
                        <span class="sub-college">电子工业出版社</span>
                        <span class="sub-college">中国财政经济出版社</span>
                        <span class="sub-college">西南财经大学出版社</span>
                        <span class="sub-college">中国发展出版社</span>
                        <span class="sub-college">厦门大学出版社</span>
                        <span class="sub-college">东北财经大学出版社</span>
                        <span class="sub-college">经济管理出版社</span>
                        <span class="sub-college">中国电力出版社</span>
                        <span class="sub-college">北京联合出版公司</span>
                        <span class="sub-college">东方知行出版公司</span>
                        <span class="sub-college">蓝狮子图书策划公司</span>
                        <span class="sub-college">博集天卷图书策划公司</span>
                        <span class="sub-college">北京凤凰联动文化传媒</span>
                        <span class="sub-college">浙江数字媒体出版社</span>
                        <span class="sub-college">拇指阅读</span>
                        <span class="sub-college">多看阅读</span>
                        <span class="sub-college">豆瓣阅读</span>
                        <span class="sub-college">方正中华数字书苑</span>
                        <span class="sub-college">《中国金融》</span>
                        <span class="sub-college">《中国银行业》</span>
                        <span class="sub-college">《零售银行》</span>
                        <span class="sub-college">《银行家》</span>
                        <span class="sub-college">《雪球专刊》</span>
                        <span class="sub-college">《财资中国》</span>
                        <span class="sub-college">《证券市场红周刊》</span>
                        <span class="sub-college">《陆家嘴杂志》</span>
                        <span class="sub-college">《投资者报》</span>
                        <span class="sub-college">《理财周报》</span>
                        <span class="sub-college">《财会学习》</span>
                        <span class="sub-college">《财经天下周刊》等</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<include file="./Application/Home/View/libpage/inc_buttom.html" />
</body>
</html>